VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=alive-asistan
VITE_APPWRITE_DATABASE_ID=alive
VITE_APPWRITE_NOTES_TABLE_ID=notes
VITE_APPWRITE_EVENTS_TABLE_ID=events
VITE_APPWRITE_VOICE_BUCKET_ID=voice-notes
